.vs/*

Application/bin/*
Application/obj/*

AuthenticateMe/bin/*
AuthenticateMe/obj/*

Domain.Security/bin/*
Domain.Security/obj/*

Domain.User/bin/*
Domain.User/obj/*

Infrastructure/bin/*
Infrastructure/obj/*

UnitTest/bin/*
UnitTest/obj/*

*.db
